//----------------------------------
// BUTTONS
//----------------------------------

/* BUTTONS */

.#{$prefix}-btn {

    @include button-reset;
    padding: .5rem 1rem;
    background-color: $color__secondary;
    color: $color-btn__text;
    font-size: .875rem;
    font-weight: 300;
    
    &:hover {
        background: $color__black--safe;
    }

    &--px {
        padding: 8px 16px;
        font-size: 15px;
    }

    &--large {
        padding: .75rem 1.5rem;
        font-size: 1.125rem;
        line-height: 1.125rem;

        &--px {
            padding: 12px 24px;
            font-size: 18px;
            line-height: 18px;
        }
    }

    &--small {
        padding: .25rem .5rem;
        font-size: .75rem;

        &--px {
            padding: 4px 8px;
            font-size: 12px;
        }
    }

    &--hollow {
        border: 1px solid $color__black--safe;
        background: none;
        color: $color-btn__text--dark;

        &:hover {
            background: $color__black--safe;
            color: $color-btn__text;
        }
    }

    &--filter {
        @include flex-justify(space-between)
        position: relative;
        align-items: center;
        width: 100%;
        max-width: 12.5rem; // 200px
        height: 100%;
        max-height: 3rem;   // 48px
        border: 1px solid $color__black--safe;
        background: none;
        color: $color-btn__text--dark;
        &--px {
            max-width: 200px;
            max-height: 48px;
        }

        &:hover {
            background: none;
            color: $color-btn__text--dark;
        }

        & a:hover {
            background: $color__black--safe;
            color: $color-btn__text;
        }
    }

    &--ghost {
        position: relative;
        background: none;
        color: $color-btn__text--dark;

        &::after {
            
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transition: all 0.3s ease;
            background: $color__black--safe;
            content: "";
            visibility: hidden;
        }

        &:hover {
            background: none;
        }

        &:hover::after {
            transform: scaleX(1);
            visibility: visible;
        }
    }

    &--icon {
        display: flex;
        @include flex-align(center);
    }
    
    &--number {
        max-width: 4.5rem;
        &--px {
            max-width: 72px;
        }
    }

    // Colors in Buttons
    &--primary {
        background: $color-brand;
        &:hover {
            background: $color-brand--dark;
        }
    }

    // Icons in Buttons
    &__icon {
        margin-left: .5rem;
        &--px {
            margin-left: 8px;
        }
    }

    // Dropdown in Buttons
    &__dropdown {
        // display: inline-block;
        display: inherit;
        position: relative;
        z-index: 2;

        // Show class for dropdown buttons
        &--show .#{$prefix}-btn__dropdown-content {
            display: block;
            z-index: 20;
        }
    }

    &__dropdown-content {
        display: none;      // not displayed until active
        position: absolute;
        top: 100%;
        left: -1px;
        width: 100%;
        height: auto;
        border: 1px solid $color__black--safe;
        background-color: $color__white--safe;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
        z-index: 99;
        list-style-type: none;
    }

    & li {
        padding: .5rem 1rem;
        font-weight: 400;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            background: #f1f1f1;
        }

        & a {
            display: block;
            margin: -.5rem -1rem;
            padding: .5rem 1rem;
            color: $color__black--safe;
            text-decoration: none;
        }

        &.divider {
            padding: 0;
            border-bottom: 1px solid #cccccc;
        }
        
        &--px {
            margin-top: 48px;

            & a {
                padding: 8px 16px;
            }
        }
    }
}

.#{$prefix}-btn-dropdown {
    display: inline-block;
    position: relative;

    &__button {
        display: inline-block;
        min-width: 180px;
        padding: .5rem 1rem;
        border: 1px solid black;
        border-radius: 1px;
        background: #fff;
        color: black;
        font-weight: 400;
        white-space: nowrap;
        cursor: pointer;
        z-index: 9998;

        &::after {
            position: absolute;
            top: 50%;
            right: 15px;
            width: 0; 
            height: 0;
            transform: translateY(-50%);
            border-top: 5px solid black;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            content: "";
        }

        &:hover {
            background: #eee;
        }
    }

    &__input {
        display: none;
    }

    &__dropdown {
        position: absolute;
        top: 100%;
        width: 100%;
        margin: 0px 0 0 0;
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 1px;
        background-color: #ffffff;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
        z-index: 9999;
        list-style-type: none;
    }

    & li {
        padding: .5rem 1rem;
        font-weight: 400;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            background: #f1f1f1;
        }

        & a {
            display: block;
            margin: -.5rem -1rem;
            padding: .5rem 1rem;
        }

        &.divider {
            padding: 0;
            border-bottom: 1px solid #cccccc;
        }
    }
}

// .#{$prefix}-btn__dropdown:hover .#{$prefix}-btn__dropdown-content {
//     display: block;
// }

// Dropdown logic

.#{$prefix}-btn-dropdown__input + .#{$prefix}-btn-dropdown__dropdown {
    display: none;
}

.#{$prefix}-btn-dropdown__input:checked + .#{$prefix}-btn-dropdown__dropdown {
    display: block;
}