//----------------------------------
// CARD
//----------------------------------

.#{$prefix}-card {

    &__container {
        position: relative;
        flex: 0 0 100%;
        max-width: 320px;
        height: auto;
        margin-bottom: 1.5rem;  // 24px
        font-family: sans-serif;
        box-sizing: border-box;

        &--px {
            margin-bottom: 24px;
        }
    }
    
    &__container svg {
        display: inline-block;
    }

    &__img {
        position: relative;
        width: 100%;
        padding-top: 100%;
        background-color: $lts-color__gray-10;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        overflow: hidden;

        & img {
            position: absolute;
            top: 0;
            width: 100%;
            max-width: 350px;
            color: transparent;
            vertical-align: bottom;
        }
    }

    &__overflow-label {
        position: absolute;
        right: 0;
        bottom: 1rem;
        padding: .5rem 1rem;
        background-color: $color__white;
        color: $lts-color__gray-60;
        font-size: .8125rem;

        &:hover {
            color: $lts-color__gray-90;
        }

        &--px {
            bottom: 16px;
            padding: 8px 16px;
            font-size: 12px;
        }
    }

    &__info-container a svg {
        position: absolute;
        right: .5rem;
        padding: .5rem;

        &--px {
            right: 8px;
            padding: 8px;
        }
    }

    &__product-title {
        display: block;
        height: 3.5rem;
        padding-top: .5rem;
        color: $color__black;
        font-size: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;

        &--px {
            height: 56px;
            padding-top: 8px;
            font-size: 12.8px;
        }
    }

    &__product-brand {
        color: $lts-color__gray-40;
        font-family: "Merriweather", serif;
        font-size: .8125rem;
        font-style: italic;

        &--px {
            font-size: 13px;
        }
    }

    &__product-price {
        display: inline-block;

        &--original {
            padding-left: .5rem;
            color: $lts-color__gray-90;
            font-size: .8125rem;
            text-decoration: line-through;

            &--px {
                padding-left: 8px;
                font-size: 13px;
            }
        }

        &--discount {
            padding-left: .5rem;
            color: $lts-color__price-discount;
            font-size: .8125rem;
            font-weight: 700;

            &--px {
                padding-left: 8px;
                font-size: 13px;
            }
        }

        &--sell {
            color: $lts-color__gray-90;
            font-size: 1rem;  // 20px
            font-weight: lighter;

            &--px {
                font-size: 16px;
            }
        }
    }

    &__extras {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0 .25rem;

        &--px {
            width: 24px;
            height: 24px;
            padding: 0px 4px;
        }
    }
}

//----------------------------------
// HEART ICON FOR CARD
//----------------------------------

.#{$prefix}-card {
    &__container--lovelist path.#{$prefix}-card__icon--transparent {
        transition: all ease-in-out .3s;
        fill: #202020;
    }

    &__icon--transparent {
        fill: transparent;
    }
  
    &__icon--fill {
        fill: #202020;
    }
}