.#{$prefix}-listing-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.#{$prefix}-card-container {
    /* margin: auto; */
    position: relative;
    flex: 0 0 100%;
    max-width: 320px;
    height: auto;
    margin-bottom: 24px;
}

.#{$prefix}-card-container svg {
    display: inline-block;
}

.#{$prefix}-item-info {
    padding-top: .5rem;
}

.#{$prefix}-card-info-container a svg {
    position: absolute;
    right: .5rem;
    padding: .5rem;
}

.#{$prefix}-card-img {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    overflow: hidden;
}

.#{$prefix}-card-img img {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 350px;
    color: transparent;
    vertical-align: bottom;
}

.#{$prefix}-card-label {
    position: absolute;
    right: 0;
    bottom: 2rem;
    padding: .5rem 1rem;
    background-color: white;
}

.#{$prefix}-item-title {
    display: block;
}

.#{$prefix}-card-price,
.#{$prefix}-card-price-orig,
.#{$prefix}-card-price-discount {
    display: inline-block;
}

.#{$prefix}-card-price-orig {
    text-decoration: line-through;
}


// ---------------------------------------------
// - TEMPORARY CSS STYLE
// ---------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

a {
    text-decoration: none;
}

.lts-card-container {
    font-family: "Open Sans", sans-serif;
}

.lts-card-label {
    background-color: rgb(250, 250, 250);
    color: rgb(105, 105, 105);
    font-size: 0.875rem;
    font-weight: 700;
}

.lts-item-brand {
    color: darkgrey;
    font-family: "Merriweather",serif;
    font-size: .825rem;
    font-style: italic;
}

.lts-item-title {
    padding-top: .5rem;
    color: black;
    font-size: 1.25rem;
}

.lts-item-prices {

}

.lts-item-price-sell {
    color: rgb(31, 31, 31);
    font-size: 1.125rem;
    font-weight: lighter;
}

.lts-item-price-original {
    color: gray;
    font-size: 1rem;
    text-decoration: line-through;
}

.lts-item-price-discount {
    color: rgb(168, 0, 0);
    font-size: 1rem;
    font-weight: 700;
}

.lts-card-extras {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 1rem;
}

.lts-card-extra-love,
.lts-card-extra-fast-ship {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: .25rem auto;
    padding: 0 .5rem;
    padding-top: .5rem;
    border-radius: 3px;
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
}

.lts-card-extra-love {
    background-color: #DF5566;
}

.lts-card-extra-fast-ship {
    background-color: rgb(42, 102, 158);
}

.lts-card-extra-love svg,
.lts-card-extra-fast-ship svg {
    padding-right: .5rem;
    padding-left: .5rem;
    fill: white;
}