@import "../partials/variables";

.#{$prefix}-filter-lg {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: auto;
    background: rgb(240, 240, 240);
}

.#{$prefix}-filter-container {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    max-width: 960px;
}

.#{$prefix}-filter-page {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

.#{$prefix}-filter-header {
    padding: 1rem .5rem .5rem;
    font-size: 1.625rem;
    font-weight: lighter;
}

.#{$prefix}-category-btn {
    display: inline-flex;
    justify-content: center;
    padding: .5rem;
    border: none;
    background-color: black;
    color: white;
    vertical-align: middle;
}

.#{$prefix}-category-btn svg {
    padding-right: 0.5rem;
}

.#{$prefix}-filter-category {
}

.#{$prefix}-filter-cat-title {
    padding-left: .5rem;
    font-size: 1rem;
    font-weight: bolder;
}

label {
    display: flex;
    padding: 0.5rem 0;
}

input[type="checkbox"],
input[type="radio"]{
    flex: none;
    width: auto;
    margin-right: .5rem;
}

.#{$prefix}-filter-item {
    display: flex;
    position: relative;
    align-items: center;
    padding: .5rem;
    font-size: .8rem;
    &:hover {
        background: #e9e9e9;
    }
}

/* Hide the browser's default checkbox */
.#{$prefix}-filter-item input {
    position: relative;
    width: 0;
    height: 0;
    opacity: 0;
    // cursor: pointer;
}

/* Create a custom checkbox */
.#{$prefix}-checkbox {
    position: relative;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 1%;
    background-color: transparent;
}

/* On mouse-over, add a background color */
.#{$prefix}-filter-item:hover input ~ .#{$prefix}-checkbox {
    background-color: #ccc;
}

/* When the checkbox is checked, add a color background */
.#{$prefix}-filter-item input:checked ~ .#{$prefix}-checkbox {
    background-color: rgb(0, 0, 0);
}

.#{$prefix}-filter-body {
    flex: 1;
}

.#{$prefix}-filter-selection {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: white;
}

.#{$prefix}-btn {
    padding: .5rem 1rem;
    border: 0px;
}

.#{$prefix}-btn--xs {
    padding: .5rem 0;
}

.#{$prefix}-btn-label {
    font-size: 1rem;
}

.#{$prefix}-btn--reset {
    margin: .25rem;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    font-weight: bolder;
}

.#{$prefix}-btn--primary {
    margin: .25rem;
    padding: 1rem 2rem;
    background-color: #DF5566;
    color: white;
    font-weight: bolder;
}

/* Horizontal scrolling */
.#{$prefix}-scrolling-wrapper-flexbox {
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    width: 100%; // calc(100vw - 0.5rem);
    max-height: 45.5%;
    border-bottom: 2px solid grey;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

@media (min-height: 667px) {
    .lts-scrolling-wrapper-flexbox {
        max-height: 58%;
    }
}

@media (min-height: 812px) {
    .lts-scrolling-wrapper-flexbox {
        max-height: 64%;
    }
}

.#{$prefix}-scrolling-wrapper-flexbox {
    &::-webkit-scrollbar {
        display: none;
    }
}

.#{$prefix}-card:last-child {
    flex: 1 0 100%;
}

.#{$prefix}-card {
    flex: 1 0 85%;
    min-height: 0px;
    overflow-y: auto;
    scroll-snap-align: start;
    &::-webkit-scrollbar {
        display: none;
    }
}

.#{$prefix}-relative {
    position: relative;
}

.#{$prefix}-btn--save {
    min-width: 6rem;
    min-height: 2rem;
    margin: .5rem;
    border: 1px solid grey;
    background: transparent;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.#{$prefix}-btn--save:hover {
    background: black;
    color: white;
}

.#{$prefix}-m-1 {
    margin: .5rem;
}

.#{$prefix}-max-2 {
    max-height: 240px;
    overflow-y: scroll;
}

.#{$prefix}-border-up {
    border-top: 1px solid lightgray;
}



.lts-icon-padding {
    padding-left: .25rem;
}

.lts-b-white {
    background: white;
}

.m-1 {
    margin: .5rem;
}

.lts-btn-small {
    padding: .25rem .5rem;
}

.lts-flex--end {
    justify-content: flex-end;
}

.lts-align-c {
    align-items: center;
}

.m-ud-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.lts-category-btn {
    align-items: center;
}

.lts-btn-subcat {
    display: inline-flex;
    justify-content: center;
    padding: .5rem 1rem;
    border: none;
    border: 1px solid grey;
    background-color: transparent;
    color: grey;
    vertical-align: middle;
}

.lts-btn-subcat:hover {
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.lts-btn-subcat--checked {
    background: black;
    color: white;
}

.lts-btn--ol {
    border: 1px solid black;
    background: transparent;
    color: black;
}

.lts-btn--dropdown {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.lts-btn--filter {
    min-width: 144px;
    max-width: 184px;
}

.lts-slider-container {
    display: flex;
    justify-content: space-between;
}

.lts-slider-price-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    min-height: 28px;
    border: 1px solid black;
    color: black;
    font-size: 1.2em;
}

.lts-btn--slider {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 0;
    border: 0;
    background: transparent;
}

.lts-slider-bar {
    width: 218px; /* Full-width */
    height: 4px; /* Specified height */
    transition: opacity .2s;
    outline: none; /* Remove outline */
    background: black;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
}
.lts-slider-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.lts-slider-bar::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(206, 84, 28);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

/* BUTTON CLASSES */

.lts-dropdown-ul {
    display: none;
    position: absolute;
    left: -99999px;
    width: 100%;
    height: auto;
    margin-left: 0;
    padding: 0;
    border: solid 1px #cccccc;
    background: #FFFFFF;
    list-style: none;
    z-index: 89;
    box-sizing: border-box;
}

.lts-dropdown-ul--open {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

.lts-center {
    display: flex;
    justify-content: center;
}

.lts-flex-r {
    flex-flow: column wrap;
}


input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(206, 84, 28);
    cursor: pointer;
}

.lts-range-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.lts-range-box {
    width: 30px;
}


/* --------------  MEDIA QUERY  --------------- */


@media (min-width: 960px) {
    .lts-filter-container {
        justify-content: space-between;
        max-width: 960px;
    }

    .lts-filter-container:nth-last-child(1) {
        justify-content: flex-start;
    }

    .lts-btn--filter {
        min-width: 224px;
        min-height: 48px;
    }
    
}

.lts-filter-container {
    justify-content: center;
}

.lts-container {
    padding: 1rem .5rem;
}

.lts-price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.lts-price-box {
    min-width: 2.5rem;
    max-width: 3.5rem;
    min-height: 1.5rem;
    max-height: 1.5rem;
    border: 1px solid lightgray;
}

.lts-price-box::placeholder {
    position: relative;
    padding-left: .25rem;
}

.lts-border-b {
    border-bottom: 2px solid grey;
}

.lts-pagination {
    display: inline-flex;
}

.lts-pagination a {
    flex: 1;
    justify-content: center;
    padding: .5rem 1rem;
    border: 1px solid white;
    color: grey;
    text-decoration: none;
    box-sizing: border-box;
}

.lts-pagination a:hover {
    border: 1px solid black;
    background: transparent;
    color: black;
    box-sizing: border-box;
}

.lts-pagination a:active {
    background: black;
    color: white;
    font-weight: 400;
    box-sizing: border-box;
}

.lts-pagination-active a {
    background: transparent;
    color: #DF5566;
    font-weight: bolder;
}

.lts-filter-page--open {
    display: flex;
}

.lts-filter-page--close {
    display: none;
}

@media screen and (max-width: 399px) {
    .lts-filter-lg {
        display: none;
    }

    

    .lts-filter-container {
        width: 100%;
        min-height: 3rem;
        background: rgb(240, 240, 240);
    }
    
    .lts-filter-container-mobile {
        display: flex;
        flex: 0 0 31.3333%;
        align-items: center;
        justify-content: center;
        margin: 0 .5%;
    }
    
    .lts-btn--fast-shipping,
    .lts-btn--lovepromo,
    .lts-btn--filters {
        font-size: .7rem;
    }
    
    .lts-filter-item--menu {
        padding-right: 0;
        padding-left: 0;
    }
    
    input[type=checkbox] {
        width: 1rem;
        height: 1rem;
        background: white;
    }
}

@media screen and (min-width: 400px) {
    .lts-filter-page {
        display: none;
    }

    .lts-show-filter-mobile {
        display: none;
    }
}