//----------------------------------
// GALLERY
//----------------------------------

.#{$prefix}-gallery {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}

.#{$prefix}-gallery-main-img {
    position: relative;
    flex: 1;
    width: 100%;
    padding-top: 100%;
    background-color: $lts-color__gray-30;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.#{$prefix}-gallery-main-img img {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 500px;

}

.#{$prefix}-gallery-thumbs {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.#{$prefix}-gallery-thumb-video {
    position: relative;
}

.#{$prefix}-icon--video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    margin-top: -20px;
    margin-left: -28px;
}

.#{$prefix}-gallery-thumb-img {
    max-width: 72px;
    height: 72px;
    margin-top: .5rem;      // 8px
    margin-right: .5rem;    // 8px
    border: 1px solid $color__white;
    object-fit: cover;
    box-sizing: border-box;
    &:hover {
        border: 1px solid $color__black;
        cursor: pointer;
    }
    &:active {
        opacity: .8;
    }
}

.#{$prefix}-gallery-thumb-img--px {
    margin-top: 8px;
    margin-right: 8px;
}