//----------------------------------
// LABELS
//----------------------------------

.#{$prefix}-label {
    display: inline-block;
    margin-top: .25rem;
    margin-right: .25rem;
    padding: .25rem .5rem;
    border: 1px solid $color__black;
    border-radius: 0px;
    color: $color__black;
    font-family: sans-serif;
    font-size: .75rem;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;

    &--reverse {
        border: 1px solid transparent;
        background: $color__black;
        color: $color__white;
    }

    &--px {
        margin-top: 4px;
        margin-right: 4px;
        padding: 4px 8px;
        border-radius: 0px;
        font-size: 12px;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--primary {
        border: 1px solid $color-brand;
        color: $color-brand;
    }

    &--secondary {
        border: 1px solid $color-brand-secondary;
        color: $color-brand-secondary;
    }

    &--lovepromo {
        border: 1px solid $lts-color__lovepromo;
        color: $lts-color__lovepromo;
    }

    &--fast-shipping {
        border: 1px solid $lts-color__fast-shipping;
        color: $lts-color__fast-shipping;
    }

    &--out-of-stock {
        border: 1px solid $lts-color__out-of-stock;
        color: $lts-color__out-of-stock;
    }
}