@import "variables";

//----------------------------------
// BRAND COLORS
//----------------------------------

$color-brand: #DF5566;
$color-brand-secondary: #2D3033;

//----------------------------------
// STANDARD COLORS
//----------------------------------

$color__black: #000;
$color__white: #fff;

//----------------------------------
// GREY
//----------------------------------

$lts-color__gray-10: #f3f3f3;
$lts-color__gray-20: #dcdcdc;
$lts-color__gray-30: #bebebe;
$lts-color__gray-40: #a4a4a4;
$lts-color__gray-50: #8c8c8c;
$lts-color__gray-60: #6f6f6f;
$lts-color__gray-70: #565656;
$lts-color__gray-80: #3d3d3d;
$lts-color__gray-90: #282828;
$lts-color__gray-100: #171717;