//----------------------------------
// VARIABLES
//----------------------------------

// Prefixer
$prefix: lts !default;

// Font families
$font-primary: sans-serif;
$font-secondary: sans-serif;

// Base font size
$base-font-size: 16px;

$line-height: 1.6;